body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color:black;
}
h1{
    color:gray;
}
div.centered{
    text-align: center;
}
div.container{
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: white;
}
span.highlight {
    background-color: yellow;
}
td {
    padding-top: 5px;
}
form {
    display: inline-block;
    text-align: justify;
    width: 70%;
}

